#content{
    display: flex;
    flex-direction: column-reverse;
    gap: 25px;
}

@media screen and (min-width: 770px) {
    #content{
        display: grid;
    grid-template-columns: 40% auto;
    gap: 15px;
    }
}